<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    <div class="cc-container">
        <div class="cc-content">
            <h1 class="title centered-text">CODESQUAD COMICS</h1>
            <p>
                CodeSquad Comics is a collection of graphic novels read by Your Name. The site is intended to display comic book covers along with information about each book, including the author, a rating, and other details about the graphic novel. Browse through the complete collection below. Click on the cover image or the Details link to see even more information for each graphic novel including the publisher, genre, number of pages, and a brief synopsis. The About page includes meta information about this collection. Login is only available to the site administrator at this time.
            </p>
        </div>
    </div>
    <div class="ccc-container">
        <h2 class="title centered-text">COMPLETE COMIC COLLECTION</h2>
        <div class="ccc-content">
            <div class="align-comics">
                <!-- Using a for...of loop, loop through the data and display each book -->
                <% for (book of data) { %>
                    <a href="/books/<%= book._id %>"><img class="comic-cover" src="/images/<%= book.image %>" alt="comic book image"></a>
                    <figcaption>
                        <span class="italic"><%= book.title %></span>
                        <span class="center-words">by <%= book.author %></span> 
                        <span class="center-words"><% for(let i = 0; i < book.rating; i++) {%>
                            <i class="fas fa-star"></i>
                        <% }%></span> 
                        <span class="center-words"><a href="/books/<%= book._id %>">Details</a></span>
                    </figcaption>
                <% } %>

            </div>
        </div>
        <div>
                <input type="button" value="DISPLAY MORE">
        </div>
    </div>

<%- include('../partials/footer') -%>